<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <!-- Could use value="PerMonitorV2" to enable DPI scaling -->
    <add key="DpiAwareness" value="False" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
